<!DOCTYPE html>
<html>
  <head>
    <% content_for :title, "Import production data" %>
  </head>

  <body>
    <h1>Import production data</h1>
    <p>Import a production data file below. (Only .csv accepted)</p>
    <%= form_with url: import_path, multipart: true do |form| %>
      <%= file_field_tag :production_file, accept: ".csv, text/csv" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </body>
</html>