<!DOCTYPE html>
<html>
  <head>
    <title>Import production data</title>
  </head>

  <body>
    <h1>Import production data</h1>
    <p>Import a production data file below. (Only .csv accepted)</p>
    <input type="file" accept=".csv, text/csv"></input>
  </body>
</html>