<!DOCTYPE html>
<html>
  <head>
    <title>Import production data</title>
  </head>

  <body>
    <h1>Import production data</h1>
    <p>Import a production data file below. (Only .csv accepted)</p>
    <%= form_with url: "/uploads", multipart: false do |form| %>
      <%= file_field_tag :production_file, accept: ".csv, text/csv" %>
    <% end %>          
  </body>
</html>